.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form,
.create-user-form {
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.form-title {
  color: white;
  font-size: 48px;
  margin: 0 auto 30px;
  width: fit-content;
}

label {
  display: block;
  color: white;
}
.login-button {
  padding: 10px 20px; 
  background-color: black;
  color: #fff; 
  border: 1px solid black;
  border-radius: 3px; 
  cursor: pointer; 
} 

.login-button:hover {
  background-color: #0056b3;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.create-user-btn {
  background-color: #28a745;
}

.create-user-btn:hover {
  background-color: #218838;
}

.circle-top-left, .circle-bottom-right {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
}

.master-form-container {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
}

.circle-top-left {
  top: -80px;  /* Adjust position from top */
  left: -80px;  /* Adjust position from left */
  background-image: linear-gradient(135deg, #060057, #00c9e4);
}

.circle-bottom-right {
  bottom: -80px;  /* Adjust position from bottom */
  right: -80px;  /* Adjust position from right */
  background-image: linear-gradient(-45deg, #060057, #00c9e4);
}

.form-div {
  z-index: 2;
  border-style: none;
}

.dashboard-container {
  display: flex; /* Maintain flexbox for layout */
  width: 100vw; /* Set desired width */
  height: 100vh;
}

.vertical-bar {
  width: 20%; /* Set width of the bar (thinner for vertical) */
  background-color: #8a1111; /* Set background color */
  padding: 10px; /* Add padding */
}

.content-area {
  width: 80%;
  background-image: linear-gradient(0deg, #222, #000);
}

.bar-item {
  display: flex; /* Maintain flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align content horizontally */
  margin-bottom: 5px;
  border-style: solid;
  border-color: #ffffff;
  padding: 20px 0;
}

.bar-item:hover {
  background-color: white;
}

.dashboard-header {
  font-size: 40px;
}

/* for navbar */
.bg-color {
  background-color: #d3d3d3 !important; /* Change background color to red */
}


.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-button {
  background-color: transparent; /* Set the background to transparent initially */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #fff; /* Change background color on hover */
  color: #333; /* Change text color on hover */
  box-shadow: 0 0 0 3px #333; /* Add a box shadow on hover */
}

#finAppBg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #000;
  background-image: linear-gradient(#000, #777);
  padding-bottom: 50px;
}

#finAppFormContainer {
  width: 40%;
  margin: -6% auto 0;
  padding: 0.25% 0;
  background-color: #ffffff52;
  border-radius: 50px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*#financeForm > input {
  width: 90%;
}*/

#financeForm {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

#financeForm input[type="number"] {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border-radius: 2px;
}

#financeTitle {
  color: #080072;
}

#financeSubmit {
  width: 120px;
  height: 50px;
  background-color: #0056b3;
  border-radius: 15px;
}

#final-bg {
  background-image: linear-gradient(#000, #777);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#checkoutBg {
  background-image: linear-gradient(#000, #777);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
#checkoutBg h1 {
  color: white;
}

#pdf-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10%;
}

#viewer {
  /*overflow: hidden;*/
  margin-top: 10%;
}

#agreement {
  margin-top: 20px;
}

#finalize {
  margin-bottom: 10%;
  margin-top: 20px;
  background-color: #060057;
  width: 120px;
  height: 50px;
}

#signature {
  width: 15%;
  height: 1%;
  margin: 0 auto;
}

.blue-btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.blue-btn {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #31107e 0%, #be07d6 100%);
  box-shadow: 0 20px 30px -6px rgba(126, 34, 187, 0.911);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.blue-btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.blue-btn:active {
  opacity: 0.5;
}

.blue-btn2 {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.blue-btn2 {
  width: 200px !important;
  height: 80px !important;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #31107e 0%, #be07d6 100%);
  box-shadow: 0 20px 30px -6px rgba(126, 34, 187, 0.911);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.blue-btn2:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.blue-btn2:active {
  opacity: 0.5;
}

#final-heading {
  color: #dfdfdf;
  margin-top: 40px;
}

#declined-screen {
  width: 100vw;
  height: 100vh;
  background-color: #00c9e4;
}

#salesReportContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

#salesReport {
  margin: 0 auto;
  margin-top: 3%;
  justify-content: flex-end;
  overflow: hidden;
}

.form-group #email {
  height: 42px;
  width: 100%;
}

.form-group #social_security {
  height: 42px;
  width: 100%;
}

#checkoutSuccessMessage {
  padding: 50px 0;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 200px;
  height: 200px;
  display: block;
  animation: spinning-animation 1.0s linear infinite;
  text-align: center;
  border-radius: 100px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: #121212;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  filter: blur(10px);
}

@keyframes spinning-animation {
  to {
    transform: rotate(360deg);
  }
}

#spinner-container {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: hidden;
}

#loading-message {
  color: rgb(255, 255, 255);
  font-size: 40px;
  display: block;
  padding-top: 20px;
}

#progress-container {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-loader {
  width: 70%;
  background: rgba(236, 236, 238, 0.253);
  height: 3px;
  border-radius: 7px;
}

.progress {
  content: '';
  width: 1px;
  height: 3px;
  border-radius: 7px;
  background: rgb(92, 0, 167) !important;
  transition: 0.5s;
  animation: loading 5s ease infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  50% {
    width: 40%;
  }

  60% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}

#cartContainer {
  animation: fadeIn 1s ease-in-out;
}

#checkout-container {
  animation: fadeIn 1s ease-in-out;
}

.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.loader {
  width: 100px;
  height: 100px;
}

#loader_container {
  background-color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modifyInfoBox {
  animation: fadeIn 1s ease-in-out;
}

#pastPurchaseBox {
  min-height: 100vh;
}

#serviceRequestBox {
  animation: fadeIn 1s ease-in-out;
}

#serviceHistoryBox {
  min-height: 100vh;
}

.ownCarsFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

#testDriveHistoryBox {
  min-height: 100vh;
}

.offersFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.accessoryFade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

#testDriveForm {
  animation: fadeIn 1s ease-in-out;
}

#makeOfferBox {
  animation: fadeIn 1s ease-in-out;
}

#customerContract, #backButton {
  margin: 0 auto;
}