.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form,
.create-user-form {
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.form-title {
  color: white;
  font-size: 48px;
  margin: 0 auto 30px;
  width: fit-content;
}

label {
  display: block;
  color: white;
}
.login-button {
  padding: 10px 20px; 
  background-color: black;
  color: #fff; 
  border: 1px solid black;
  border-radius: 3px; 
  cursor: pointer; 
} 

.login-button:hover {
  background-color: #0056b3;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.create-user-btn {
  background-color: #28a745;
}

.create-user-btn:hover {
  background-color: #218838;
}

.circle-top-left, .circle-bottom-right {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
}

.master-form-container {
  position: relative;
  overflow: hidden;
}

.circle-top-left {
  top: -80px;  /* Adjust position from top */
  left: -80px;  /* Adjust position from left */
  background-image: linear-gradient(135deg, #060057, #00c9e4);
}

.circle-bottom-right {
  bottom: -80px;  /* Adjust position from bottom */
  right: -80px;  /* Adjust position from right */
  background-image: linear-gradient(-45deg, #060057, #00c9e4);
}

.form-div {
  z-index: 2;
  border-style: none;
}

.dashboard-container {
  display: flex; /* Maintain flexbox for layout */
  width: 100vw; /* Set desired width */
  height: 100vh;
}

.vertical-bar {
  width: 20%; /* Set width of the bar (thinner for vertical) */
  background-color: #8a1111; /* Set background color */
  padding: 10px; /* Add padding */
}

.content-area {
  width: 80%;
  background-image: linear-gradient(0deg, #222, #000);
}

.bar-item {
  display: flex; /* Maintain flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align content horizontally */
  margin-bottom: 5px;
  border-style: solid;
  border-color: #ffffff;
  padding: 20px 0;
}

.bar-item:hover {
  background-color: white;
}

.dashboard-header {
  font-size: 40px;
}

/* for navbar */
.bg-color {
  background-color: #d3d3d3 !important; /* Change background color to red */
}


.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-button {
  background-color: transparent; /* Set the background to transparent initially */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #fff; /* Change background color on hover */
  color: #333; /* Change text color on hover */
  box-shadow: 0 0 0 3px #333; /* Add a box shadow on hover */
}

#finAppBg {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: linear-gradient(#000, #777);
  padding-bottom: 50px;
}

#finAppFormContainer {
  width: 40%;
  margin: -6% auto 0;
  padding: 0.25% 0;
  background-color: #ffffff52;
  border-radius: 50px;
}

/*#financeForm > input {
  width: 90%;
}*/

#financeForm {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

#financeTitle {
  color: #080072;
}

#financeSubmit {
  width: 120px;
  height: 50px;
  background-color: #0056b3;
  border-radius: 15px;
}